
{% block navigation %}

<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="{{asset('images/camera.png')}}"  width="30" height="24" class="d-inline-block align-text-top">
        MovieHub
    </a>
    {% include "search/view.html.twig" %}
    {% block search_form %}
    
    {% endblock %}
  </div>
</nav>
{% endblock %}