{% block search_form %}
      <form action="{{path('search_movie')}}" class="d-flex" role="search">
      <input class="form-control me-2" name="searchTerm" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
{% endblock %}