{% extends "base.html.twig" %}

{% block body %}
     <div class="d-flex align-items-center justify-content-center vh-100 bg-light">
        <h1 class="display-1 fw-bold text-dark">404</h1>
        <p class="fw-bold text-dark">Movie not found</p>
    </div>
{% endblock %}